@import "tailwindcss";

@theme {
  --color-background: #020617;
  --color-surface: #0f172a;
  --color-accent: #38bdf8;
}

/* Apply the background globally */
@layer base {
  body {
    @apply bg-background text-slate-200;
  }
}